---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@/components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@/components/sections/landing/HeroSectionAlt.astro";
import FeaturesGeneral from "@/components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@/components/sections/features/FeaturesNavs.astro";
import FAQ from "@/components/sections/FAQ.astro";
import faqs from "@/data_files/faqs.json";
import features from "@/data_files/features.json";
import LeftSection from "@/components/ui/blocks/LeftSection.astro";
import RightSection from "@/components/ui/blocks/RightSection.astro";
import ContactSection from "@/components/sections/ContactSection.astro";

interface Article {
  isRightSection: boolean;
  title: string;
  subTitle: string;
  btnExists?: boolean;
  btnTitle?: string;
  btnURL?: string;
  single?: boolean;
  img?: string;
  imgAlt?: string;
  imgOne?: string;
  imgOneAlt?: string;
  imgTwo?: string;
  imgTwoAlt?: string;
}

const articles: Article[] = [
  {
    isRightSection: true,
    title: "Delivering Expert Guidance",
    subTitle:
      "Embarking on a construction project can be overwhelming. With our professional consultation services, we guide you through every stage, ensuring you make informed decisions. Whether you are a DIY enthusiast or a skilled contractor, our experts are on hand to offer tailored advice on product selection, project scope, and compliance with local regulations.",
    single: false,
    imgOne: "/images/strat.jpg",
    imgOneAlt: "Blueprints and digital tablet with construction plans.",
    imgTwo: "/images/strat.jpg",
    imgTwoAlt: "Person working in the office",
  },
  {
    isRightSection: false,
    title: "Transforming Designs into Reality",
    subTitle:
      "Our skilled craftsmen bring precision and excellence to every construction project. From minor installations to substantial structural work, ScrewFast offers reliable construction services to turn your plans into tangible outcomes. We ensure the highest standards of safety and workmanship, utilizing top-quality tools and materials from our extensive inventory.",
    img: "/images/strat.jpg",
    imgAlt: "Construction site before and after",
    btnExists: true,
    btnTitle: "Learn More",
    btnURL: "#",
  },
  {
    isRightSection: true,
    title: "Navigating Projects with Professional Oversight",
    subTitle:
      "Effective project management is at the heart of any successful build. ScrewFast provides thorough planning and robust management services that keep your project on time and within budget. Let us handle the complexities of workflow coordination, resource allocation, and stakeholder communication while you focus on your vision.",
    single: false,
    imgOne: "/images/strat.jpg",
    imgOneAlt: "Construction workers orchestrating a project",
    imgTwo: "/images/strat.jpg",
    imgTwoAlt: "Aerial view of managed construction",
  },
  {
    isRightSection: false,
    title: "Ensuring Long-lasting Performance",
    subTitle:
      "Our commitment to your project doesn't end at completion. ScrewFast offers ongoing maintenance and support services to ensure your construction's longevity and performance. From regular check-ups to emergency assistance, our responsive team is there to provide seamless support.",
    img: "/images/strat.jpg",
    imgAlt:
      "Man in orange and black vest wearing white helmet holding yellow and black power tool",
  },
];
---

<MainLayout>
  <HeroSection
    title=`Donnez vie à vos projets numériques avec le <span
        class="text-yellow-500 dark:text-yellow-400">Studio Web Crafters</span>`
    subTitle="Des solutions web sur-mesure pour propulser votre entreprise vers de nouveaux horizons."
    primaryBtn="Contactez-nous"
    primaryBtnURL="#contact-form"
    secondaryBtn="Découvrez nos services"
    secondaryBtnURL="#services"
    withReview={false}
    src="/images/projet_de creation-site-web.jpg"
    alt="Photo de Alvaro Reyes sur Unsplash"
  />

  <FeaturesNavs
    title=`Customize <span class="text-yellow-500 dark:text-yellow-400">ScrewFast</span>'s offerings to perfectly suit your hardware and construction needs.`
    tabs={[
      {
        heading: "Stratégie Numérique",
        content:
          "Du référencement SEO à la gestion de vos réseaux sociaux, nous élaborons les stratégies qui augmentent votre visibilité en ligne.",
        svg: "strategy",
        src: "/images/strat.jpg",
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
        second: true,
      },
      {
        heading: "Design UI/UX",
        content:
          "Nous concevons des interfaces attractives et intuitives pour une expérience utilisateur sans faille.",
        svg: "design",
        src: "/images/web-design.jpg",
        alt: "Photo de Balázs Kétyi Unsplash",
        second: true,
      },
      {
        heading: "Développement Web sur Mesure",
        content:
          "Sites vitrine, e-commerce, applications web... nos créations sont optimisées pour un référencement, une responsivité, une accessibilité et une performance maximale.",
        svg: "tools",
        src: "/images/dev.jpg",
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Référencement naturel (SEO)",
        content:
          "Minimize complexity, maximize productivity. ScrewFast's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "house",
        src: "/images/seo.jpg",
        alt: "Gray metal building frame near tower crane during daytime",
        second: true,
      },
      {
        heading: "Maintenance et Support : ",
        content:
          "Nous sommes à vos côtés pour garantir le bon fonctionnement de vos solutions numériques au quotidien. Nous proposons tous les niveaux de maintenance : préventives, correctives et évolutives",
        svg: "maintenance",
        src: "/images/support.jpg",
        alt: "Gray metal building frame near tower crane during daytime",
        second: true,
      },
    ]}
  />
  <HeroSectionAlt
  title="Prêt à donner vie à votre projet web ?"
  subTitle=" Commencez par le premier pas : une réunion de lancement avec notre équipe. C'est l'occasion parfaite pour nous de plonger dans votre vision, comprendre vos objectifs et poser les fondations d'une collaboration fructueuse."
  url="mailto:contact@web-crafters.studio"
  btnTitle="Planifier ma réunion de lancement"
/>
  {
    articles.map((article) => {
      return article.isRightSection ? (
        <RightSection
          title={article.title}
          subTitle={article.subTitle}
          single={article.single}
          imgOne={article.imgOne}
          imgOneAlt={article.imgOneAlt}
          imgTwo={article.imgTwo}
          imgTwoAlt={article.imgTwoAlt}
          btnExists={article.btnExists}
          btnTitle={article.btnTitle}
          btnURL={article.btnURL}
        />
      ) : (
        <LeftSection
          title={article.title}
          subTitle={article.subTitle}
          img={article.img}
          imgAlt={article.imgAlt}
          btnExists={article.btnExists}
          btnTitle={article.btnTitle}
          btnURL={article.btnURL}
        />
      );
    })
  }

  <FeaturesGeneral
    title="Nos valeurs"
    subTitle="Chez Web Crafters, nous avons à coeur de vous proposer des solutions adaptées à votre contexte et vos objectifs. Que vous soyez une startup innovante, une TPE ou une PME en pleine croissance, notre équipe experte est là pour vous accompagner à chaque étape de votre projet."
    alt="Les valeurs du studio web crafters"
    features={features}
  />

  <HeroSectionAlt
    title="Prêt à donner vie à votre projet web ?"
    subTitle=" Commencez par le premier pas : une réunion de lancement avec notre équipe. C'est l'occasion parfaite pour nous de plonger dans votre vision, comprendre vos objectifs et poser les fondations d'une collaboration fructueuse."
    url="mailto:contact@web-crafters.studio"
    btnTitle="Planifier Ma Réunion de lancement"
  />
  <FAQ title="FAQ" faqs={faqs} />
  <ContactSection />

  
</MainLayout>
