---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@/components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@/components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@/components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@/components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@/components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@/components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@/components/sections/FAQ.astro";
import heroImage from "@/images/projet_de creation-site-web.jpg";
import faqs from "@/data_files/faqs.json";
import features from "@/data_files/features.json";
import featureImage from "@/images/reunion-strategie.jpg";
import construction from "@/images/construction-image.avif";
import tools from "@/images/automated-tools.avif";
import web from "@/images/web-design.jpg";
---

<MainLayout>
  <HeroSection
    title=`Donnez vie à vos projets numériques avec le <span
        class="text-yellow-500 dark:text-yellow-400">Studio Web Crafters</span>`
    subTitle="Des solutions web sur-mesure pour propulser votre entreprise vers de nouveaux horizons."
    primaryBtn="Contactez-nous"
    primaryBtnURL="/contact"
    secondaryBtn="Découvrez nos services"
    secondaryBtnURL="/services"
    withReview={false}
    src={heroImage}
    alt="Photo de Alvaro Reyes sur Unsplash"
  />

  <ClientsSection
    title="Ils nous font confiance"
    subTitle="Notre accompagnement sur-mesure et notre expertise les ont conquis alors pourquoi pas vous ?"
  />

  <FeaturesGeneral
    title="Des solutions web personnalisées"
    subTitle="Chez Web Crafters, nous avons à coeur de vous proposer des solutions adaptées à votre contexte et vos objectifs. Que vous soyez une startup innovante, une TPE ou une PME en pleine croissance, notre équipe experte est là pour vous accompagner à chaque étape de votre projet."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Customize <span class="text-yellow-500 dark:text-yellow-400">ScrewFast</span>'s offerings to perfectly suit your hardware and construction needs.`
    tabs={[
      {
        heading: "Stratégie Numérique",
        content:
          "Du référencement SEO à la gestion de vos réseaux sociaux, nous élaborons les stratégies qui augmentent votre visibilité en ligne.",
        svg: "strategy",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Design UI/UX",
        content:
          "Nous concevons des interfaces attractives et intuitives pour une expérience utilisateur sans faille.",
        svg: "design",
        src: web,
        alt: "Photo de Balázs Kétyi Unsplash",
      },
      {
        heading: "Développement Web sur Mesure",
        content:
          "Sites vitrine, e-commerce, applications web... nos créations sont optimisées pour un référencement, une responsivité, une accessibilité et une performance maximale.",
        svg: "tools",
        src: tools,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
      },
      {
        heading: "Référencement naturel (SEO)",
        content:
          "Minimize complexity, maximize productivity. ScrewFast's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
      {
        heading: "Maintenance et Support : ",
        content:
          "Nous sommes à vos côtés pour garantir le bon fonctionnement de vos solutions numériques au quotidien. Nous proposons tous les niveaux de maintenance : préventives, correctives et évolutives",
        svg: "maintenance",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Confiez nous votre projet"
    subTitle="Chez Web Crafters, nous avons à coeur de vous accompagner comme si votre entreprise était la notre."
    ;
    testimonials={[
      {
        content:
          "Web Crafters m'a accompagné pour établir la visibilité de mon entreprise. Je suis satisfait du travail effectué et j'ai apprécié collaborer avec le studio Web Crafters. Ils ont su nous proposer une solution adéquate et aujourd'hui nous en récoltons les fruits car notre site internet est notre canal d'acquisition principal",
        author: "Pierre Besse",
        role: "Digireant | HéOTi Energies",
        avatarSrc:
          "https://media.licdn.com/dms/image/D4D03AQFLRtpKYfLH4w/profile-displayphoto-shrink_800_800/0/1686476178516?e=1717027200&v=beta&t=2HxnH4hjAURaknjI3sHlh5r8A-UAETPdXOyznpqaufA",
      },
    ]}
    statistics={[
      {
        count: "Proximité",
        description:
          "Basés à Saint-Malo, nous cultivons une approche de proximité avec nos clients, pour des projets qui vous ressemblent vraiment.",
      },
      {
        count: "Expertise",
        description:
          "Notre équipe est et reste à la pointe des technologies web pour vous offrir des solutions avant-gardistes.",
      },
      {
        count: "Sur-mesure",
        description:
          "Obtenez des résultats tangibles grâce à des analyses approfondies de votre marché",
      },
      {
        count: "Satisfaction Client",
        description:
          "Votre succès est notre priorité. Nous nous engageons à fournir un service de qualité, transparent et réactif.",
      },
    ]}
  />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Prêt à donner vie à votre projet web ?"
    subTitle=" Commencez par le premier pas : une réunion de lancement avec notre équipe. C'est l'occasion parfaite pour nous de plonger dans votre vision, comprendre vos objectifs et poser les fondations d'une collaboration fructueuse."
    url="mailto:contact@web-crafters.studio"
    btnTitle="Planifier Ma Réunion de lancement"
  />
</MainLayout>
